#robot {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 7px 5px 7px;
  border: solid #00ffea 2px;
  text-decoration: none;
}

#robot:hover {
  background: #00ffea;
  background-image: -webkit-linear-gradient(top, #00ffea, #00ffea);
  background-image: -moz-linear-gradient(top, #00ffea, #00ffea);
  background-image: -ms-linear-gradient(top, #00ffea, #00ffea);
  background-image: -o-linear-gradient(top, #00ffea, #00ffea);
  background-image: linear-gradient(to bottom, #00ffea, #00ffea);
  text-decoration: none;
}

#grabar {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 7px 5px 7px;
  border: solid #00ffea 2px;
  text-decoration: none;
}

#grabar:hover {
  background: #00ffea;
  background-image: -webkit-linear-gradient(top, #00ffea, #00ffea);
  background-image: -moz-linear-gradient(top, #00ffea, #00ffea);
  background-image: -ms-linear-gradient(top, #00ffea, #00ffea);
  background-image: -o-linear-gradient(top, #00ffea, #00ffea);
  background-image: linear-gradient(to bottom, #00ffea, #00ffea);
  text-decoration: none;
}

#detener {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 7px 5px 7px;
  border: solid #00ffea 2px;
  text-decoration: none;
}

#detener:hover {
  background: #00ffea;
  background-image: -webkit-linear-gradient(top, #00ffea, #00ffea);
  background-image: -moz-linear-gradient(top, #00ffea, #00ffea);
  background-image: -ms-linear-gradient(top, #00ffea, #00ffea);
  background-image: -o-linear-gradient(top, #00ffea, #00ffea);
  background-image: linear-gradient(to bottom, #00ffea, #00ffea);
  text-decoration: none;
}

#guardar {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 7px 5px 7px;
  border: solid #00ffea 2px;
  text-decoration: none;
}

#guardar:hover {
  background: #00ffea;
  background-image: -webkit-linear-gradient(top, #00ffea, #00ffea);
  background-image: -moz-linear-gradient(top, #00ffea, #00ffea);
  background-image: -ms-linear-gradient(top, #00ffea, #00ffea);
  background-image: -o-linear-gradient(top, #00ffea, #00ffea);
  background-image: linear-gradient(to bottom, #00ffea, #00ffea);
  text-decoration: none;
}

#prev_grab {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 7px 5px 7px;
  border: solid #00ffea 2px;
  text-decoration: none;
}

#prev_grab:hover {
  background: #00ffea;
  background-image: -webkit-linear-gradient(top, #00ffea, #00ffea);
  background-image: -moz-linear-gradient(top, #00ffea, #00ffea);
  background-image: -ms-linear-gradient(top, #00ffea, #00ffea);
  background-image: -o-linear-gradient(top, #00ffea, #00ffea);
  background-image: linear-gradient(to bottom, #00ffea, #00ffea);
  text-decoration: none;
}

#prev_cerr {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 7px 5px 7px;
  border: solid #00ffea 2px;
  text-decoration: none;
}

#prev_cerr:hover {
  background: #00ffea;
  background-image: -webkit-linear-gradient(top, #00ffea, #00ffea);
  background-image: -moz-linear-gradient(top, #00ffea, #00ffea);
  background-image: -ms-linear-gradient(top, #00ffea, #00ffea);
  background-image: -o-linear-gradient(top, #00ffea, #00ffea);
  background-image: linear-gradient(to bottom, #00ffea, #00ffea);
  text-decoration: none;
}


