
body{
	background-color : #000000;
	color: #FFF;
  	font-family: Sans-Serif;
}

#underline_title {
  background: #000000;
  color: #00ffea;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(0,255,234,1);
  -moz-box-shadow: 0px 10px 10px -10px rgba(0,255,234,1);
   box-shadow: 0px 10px 10px -10px rgba(0,255,234,1);
}

#underline {
  background: #000000;
  color: #00ffea;
  -webkit-box-shadow: 0px -10px 10px -10px rgba(0,255,234,1);
  -moz-box-shadow: 0px -10px 10px -10px rgba(0,255,234,1);
   box-shadow: 0px -10px 10px -10px rgba(0,255,234,1);
}
h1.underline {
  font-family: georgia, "times new roman", times, serif;
  font-weight: lighter;
}
h2.underline {
  font-family: georgia, "times new roman", times, serif;
  font-weight: lighter;
}

#mov1 { 
border: 1px solid #00ffea;
width: 85px; 
height: 85px; 
border-radius: 75px;  
-webkit-border-radius: 75px; 
-moz-border-radius: 2202px; 
background: url(../img/1.jpg) no-repeat;
float: left;
margin-left: 40px;
}
#mov2 { 
border: 1px solid #00ffea;
width: 85px; 
height: 85px; 
border-radius: 75px;  
-webkit-border-radius: 75px; 
-moz-border-radius: 2202px; 
background: url(../img/2.jpg) no-repeat;
float: left;
margin-left: 47px;
}
#mov3 { 
border: 1px solid #00ffea;
width: 85px; 
height: 85px; 
border-radius: 75px;  
-webkit-border-radius: 75px; 
-moz-border-radius: 2202px; 
background: url(../img/3.jpg) no-repeat;
float: left;
margin-left: 47px;
}
#mov4 { 
border: 1px solid #00ffea;
width: 85px; 
height: 85px; 
border-radius: 75px;  
-webkit-border-radius: 75px; 
-moz-border-radius: 2202px; 
background: url(../img/4.jpg) no-repeat;
float: left;
margin-left: 47px;
}
.dar_sombra_iconos {
box-shadow: 0 0 50px #00ffea; 
-webkit-box-shadow: 0 0 50px #00ffea; 
-moz-box-shadow: 0 0 50px #00ffea; 
}

#menu li{float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;list-style:none;}

h1{color: white;}

