input {
    border: 2px solid  rgba(0,0,0,0.6);
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 3px;
    background: rgba(0,255,234,0.5);
    margin: 0 0 10px 0;
    color:white;
}

textarea {
    border: 2px solid rgba(0,0,0,0.6);
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 3px;
    background: rgba(0,255,234,0.5);
    margin: 0 0 10px 0;
    color:white;
}

select {
	background-image:url(../img/arrow.png);
	background-repeat:no-repeat;
	background-position:93px;
	width:115px;
	padding:8px;
	line-height:1;
	border-radius:5px;
	background-color:rgba(0,255,234,0.5);
	color:#FFF;
	font-size:15px;
	-webkit-appearance:none;
	box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.6);
	outline:none
}
select:hover {
	color:#000
}

#file-1, #file-2, #file-3, #file-4, #file-5 {
	background-color: black;
}

