#contenedor {
    width: 96%;  /* Ancho del contenedor */
	box-sizing: border-box;
	moz-box-sizing: border-box;
}

#contenedor input {
	height: 32px;
	visibility: hidden;
}

#contenedor label {
	float: left;
	cursor: pointer;
	font-size: 15px;  /* Tamaño del texto de las pestañas */
	line-height: 40px;
	height: 43px;
	padding: 0 20px;
	display: block;
	color: #888;  /* Color del texto de las pestañas no marcadas */
	text-align: center;
	border-radius: 5px 5px 0 0;
	background: #eee;  /* Fondo de las pestañas no marcadas */
	margin-right: 5px;
}

#contenedor input:hover + label {
	background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
	color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#contenedor input:checked + label {
	background: #00ffea;  /* Fondo de las pestañas al presionar */
	color: #FFF; /* Color de la letra de las pestañas al presionar */
	z-index: -9;
	line-height: 45px;
	height: 48px;
	position: relative;
	top: -5px;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
}

.content {
	border: 3px solid #00ffea;
	background: #000;  /* Fondo del contenido */
	position: fixed;
	width: 85%;
	height: 600px;  /* Alto del contenido */
	padding: 20px;
	border-radius: 0 10px 10px 10px;
	box-shadow: 0 0 30px #00ffea; 
	-webkit-box-shadow: 0 0 30px #00ffea; 
	-moz-box-shadow: 0 0 30px #00ffea; 
}

.content div {
	position: fixed;
	opacity: 0;
	transition: all linear 0.1s;
}

#contenedor input.tab-selector-1:checked ~ .content .content-1,
#contenedor input.tab-selector-2:checked ~ .content .content-2,
#contenedor input.tab-selector-3:checked ~ .content .content-3,
#contenedor input.tab-selector-4:checked ~ .content .content-4,
#contenedor input.tab-selector-5:checked ~ .content .content-5 {
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
	-moz-transition: all ease-out 0.2s 0.1s;
	-o-transition: all ease-out 0.2s 0.1s;
	-ms-transition: all ease-out 0.2s 0.1s;
    width: 95%;    
}
