body {
    background: darkgrey;    
}

.contenedor{
    width: 99%;
    margin: auto;
    background: black;
    color: bisque;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
    height: 950px; 
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: bisque;
}

#contenidopestanas{
    clear: both;  
    background: dimgray;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 99%;
    height: 860px; 
}

#gestionF{
	float:left; /*Aqui determinas de lado quieres quede esta "columna" */7
	border: 5px solid bisque;
	width: 10%;
	margin-top: 45px;
	margin-left: 180px;
	background: black;
	padding: 0px 20px 20px 20px;
	z-index:10;
}

#principal{
	margin-top: 40px;
	float:left; /*Aqui determinas de lado quieres quede esta "columna" */
	width: 90%;
	margin-left: -400px;
	z-index:1;
}

#barraGrab{
	margin-top: 10px;
	margin-left: 100px;
}

#previsualizacion{
	z-index:1;
}

#table_prev{
	margin-left: -280px;
	margin-top: -50px;
}
