#juegoIconos {
	color: #404040;
	margin-top: 70px;
	left: 70px;
	width: 20%;
	position: fixed;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 

	-webkit-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	-moz-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
}

#ayuda {
	color: #404040;
	margin-top: 40px;
	left: 900px;
	width: 30%;
	position: fixed;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 
	z-index: 100;

	-webkit-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	-moz-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
}

#icono {
	padding: 10px 10px 10px 10px; 
}

#lienzo {
	float: left;
}

#barra {
	z-index: 2;
	border-bottom: 10px solid #FFFFFF;
	border-top: 10px solid #FFFFFF;
	background-color: #FFFFFF;
	width: 100%;
	margin: 0 auto; 
	position: fixed;
	margin-top: -8px;
	margin-left: -5px;
	z-index: 200;

	-webkit-box-shadow: 0px 2px 3px 0px rgba(135,135,135,0.61);
	-moz-box-shadow: 0px 2px 3px 0px rgba(135,135,135,0.61);
	box-shadow: 0px 2px 3px 0px rgba(135,135,135,0.61);
}

#interior{ 
	background-color: #FFFFFF;
	width: 55%;
	font-weight: bold; 
	color: #404040;
	padding: 5px 5px 5px 5px; 
	margin: 0 auto; 
	font-family: "Palatino", sans-serif; 
} 

form, input {
	display: inline;
}

input[type="number"] {
   width:50px;
}

#s {
font-weight: normal;
}


#gestionDeFicheros {
	color: #404040;
	margin-top: 460px;
	left: 70px;
	width: 19%;
	position: fixed;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 
	padding: 10px 10px 10px 10px; 

	-webkit-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	-moz-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
}


#previsualizacion {
	color: #404040;
	margin-top: 300px;
	left: 70px;
	width: 19%;
	position: fixed;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 
	padding: 10px 10px 10px 10px; 

	-webkit-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	-moz-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
}

#prev {
    position: relative;
    width: 100%;
}
#prevA {
    position: relative;
    width: 100%;
}

#Prevv {

	margin-top: 70px;
	left: 480px;
	position: fixed;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 
	z-index: 99;

	-webkit-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	-moz-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
}

#accel2 {
	color: #404040;
	margin-top: 380px;
	left: 70px;
	width: 19%;
	position: fixed;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 
	padding: 10px 10px 10px 10px; 

	-webkit-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	-moz-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
}

#accelerometro {
    position: relative;
    width: 100%;
}

#accel {

	margin-top: -60px;
	left: 480px;
	position: fixed;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 
	z-index: 2;
}

#accelPrev {

	margin-top: -10px;
	left: 480px;
	position: fixed;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 
	z-index: 2;
}

#graficaPrev{
	visibility: hidden;
	margin-top: 70px;
	margin-left: 480px;
	z-index: 200;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 
	padding: 10px 10px 10px 10px; 
	-webkit-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	-moz-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
}

#graficaPrev2{
	visibility: hidden;
	margin-top: 70px;
	z-index: 200;
	background-color: #FFFFFF;
	font-family: "Palatino", sans-serif; 
	padding: 10px 10px 10px 10px; 
	-webkit-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	-moz-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
	box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.66);
}

#graficas{
	margin-top: -80px;
}
#graficas2{
	margin-top: -80px;
}
