#icono {
 margin: 0 auto;
}
#icono img {
 opacity: 0.8;
 
 /*Transition*/
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 
}

#icono img:hover {  
   opacity: 3;
 
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, 
from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(0,128,0,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(0,128,0,0.8);
  box-shadow: 0px 0px 20px rgba(0,128,0,0.8);
}

textarea {
   resize: vertical;
   width: 340px;
}
